<form class="comment-form" (ngSubmit)="onSubmit()">
  <textarea
    class="form__input"
    placeholder="{{ isAuthenticated ? 'Введите комментарий' : 'Войдите, чтобы комментировать' }}"
    [(ngModel)]="commentContent"
    [disabled]="!isAuthenticated || isSubmitting"
    name="commentContent"
  ></textarea>
  <input 
    class="form__btn" 
    type="submit" 
    [value]="isSubmitting ? 'Отправка...' : 'Отправить'"
    [disabled]="!isAuthenticated || isSubmitting || !commentContent.trim()">
</form>